.container {
    width: 84%;
    margin: 0 auto;
}
.blog_section {
    display: flex;
    justify-content: space-between;
}
.blog_section_left {
    width: 56%;
    margin-top: 30px;
}
.blog_section_right {
    width:27%;
}
.blog_section_right button {
    height: 52px;
    width: 100%;
    border-radius: 12px;
}
.blog_section_right a {
    text-decoration: none;
}
.other_blog {
    background-color: gray;
    cursor: pointer;
    border-radius: 12px;
    color: black;
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  
    .blog_section {
        display: block;
    }
    .blog_section_right {
        width: 300px;
    }
    .blog_section_right button {
        width: 300px;
    }
   
    } 
    @media only screen and (min-width: 340px) and (max-width: 720px) {
    
        .blog_section {
            display: block;
        }
        .blog_section_left {
            width: 100%;
        }
        .blog_section_right {
            width: 300px;
        }
        .blog_section_right button {
            width: 300px;
        }
        
    } 