.container {
    width: 84%;
    margin: 0 auto;
}
.blog_section {
    display: flex;
    justify-content: space-between;
}
.blog_section_left {
    width: 56%;
    margin-top: 30px;
}
.blog_section_right {
    width:27%;
}
.blog_section_right button {
    height: 52px;
    width: 100%;
    border-radius: 12px;
}
.blog_section_right a {
    text-decoration: none;
}
.other_blog {
    background-color: gray;
    cursor: pointer;
    border-radius: 12px;
    color: black;
}