.container {
    width: 84%;
    margin: 0 auto;
}
.about {
    display: flex;
    justify-content:left;
}
.whous_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.why_guys {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.rectangle_about {
    border-radius: 12px;
    background-color: rgb(245,245,245);
    width: 44%;
    font-size: 16px;
    padding: 20px;
}
.rectangle_about h1 {
    color: orange;
}
.organizations img {
    width: 80%;
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  
    .why_guys {
        display: block;
    }

   
} 
@media only screen and (min-width: 340px) and (max-width: 720px) {
   
    .why_guys {
        display: block;
    }
    .why_guys img {
width: 90%;
    }
    .whous_bottom {
        display: block;
    }
    .rectangle_about {
        margin-bottom: 20px;
        width: 95%;
    }
} 
