.container {
    width: 84%;
    margin: 0 auto;
}
.news_section {
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news_card {
    height: 120px;
    width: 597px;
    margin-bottom: 20px;
    background-color: rgb(245,245,245);
    border-radius: 12px;
    padding: 10px;
}
.news_card_top {
    display: flex;
    justify-content: space-between;
}
img {
    width: 100%;
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  

    
} 
@media only screen and (min-width: 340px) and (max-width: 720px) {
   
    
} 