nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.nav_left img {
  width: 160px;
  height: 90px;
}
nav .nav_middle {
    display: flex;
    align-items: center;
    width: 853px;
}
nav .nav_middle ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
}
nav .nav_middle ul li {
    margin-right:11px;
    color: black;
}
nav .nav_middle .nav_link {
    color: black;
    text-decoration: none;
}
nav span {
    display: none;
}
nav .nav_end  {
 display: flex;
 align-items: center;
}
nav .nav_end button {
    height: 44px;
    width: 148px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.dropdown {
    float: left;
    overflow: hidden;
    display: none;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
   cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media only screen and (min-width: 720px) and (max-width: 1280px) {
    nav {
      background-color: chartreuse;
    }
    .dropdown {
      display: block;
    }
    nav .nav_middle {
      width: 70%;
      display: flex;
      justify-content: end;
    }
    nav .nav_middle ul {
      display: none;
    }


     
    
} 
@media only screen and (min-width: 340px) and (max-width: 720px) {
    
  .dropdown {
    display: block;
  }
  nav .nav_middle {
    width: 70%;
    display: flex;
    justify-content: end;
  }
  nav .nav_middle ul {
    display: none;
  }
  nav .nav_end button {
    height: 44px;
    width: 74px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 10px;
}

    
} 