.footer {
    height: 300px;
    margin: 0 auto;
   
    margin-top: 80px;
}
.footer_top {
    display: flex;
    height: 250px;
}
.footer_top .item1 {
width: 400px;

}
.footer_top .item2 {
 width: 170px;

    }
    .footer_top .item3 {
        width: 170px;

           }
           .footer_top .item4 {
            width: 170px;
        
               }
               .footer_top .item5 {
                width: 185px;
         
                   }
                   .footer_top .item6 {
                    width: 170px;
                    
                       }
.footer_bottom {
    display: flex;
    justify-content: end;
}

