.container {
    width: 84%;
    margin: 0 auto;
}
.vakansiya_section {
    display: flex;
    justify-content: space-between;
}
.vakansiya_section_left {
    width: 56%;
    background-color: red;
}
.vakansiya_section_right {
    width:27%;
    background-color: green;
}
.other_vakansiya {
    background-color: gray;
    cursor: pointer;
}