.container {
    width: 84%;
    margin: 0 auto;
}
.news_section {
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.news_card {
    background-color: rgb(245,245,245);
    height: 374px;
    width: 286px;
    margin-bottom: 20px;
}