.container {
    width: 84%;
    margin: 0 auto;
}
.news_section {
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: saddlebrown;
}
.news_card {
    background-color: blue;
    height: 374px;
    width: 286px;
    margin-bottom: 20px;
}